.lobbyForm {
    width: 400px;
}

.roll-input-form {
    width: 400px;    
}

.backgroundTestPink {
    background-color: deeppink;
}

.backgroundTestBlue {
    background-color: aqua;
}

.backgroundTestGreen {
    background-color: chartreuse;
}

.rolls-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rolls-list-item {
    padding: 0;
    margin: 0 0 0.5rem 0;
    border-radius: 2rem;
    background: #eaeaea;
    width: 20rem;
    padding: 1rem;
}

.rolls-list-item-timestamp {
    font-size: 0.8rem;
}

.join-form-control {
    border-radius: 0.25rem;
    margin: 0.7rem
}

.join-form-button {
    border-radius: 0.25rem;
    display: inline-flex;
    margin-left: 0.7rem;
}