.lobbyForm {
    width: 400px;
}

.roll-input-form {
    width: 400px;    
}

.backgroundTestPink {
    background-color: deeppink;
}

.backgroundTestBlue {
    background-color: aqua;
}

.backgroundTestGreen {
    background-color: chartreuse;
}

.rolls-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rolls-list-item {
    padding: 0;
    margin: 0 0 0.5em 0;
    border-radius: 2em;
    background: #eaeaea;
    width: 20em;
    padding: 1em;
}

.rolls-list-item-timestamp {
    font-size: 0.8em;
}