.lobbyForm {
  max-width: 25rem;
}

.roll-input-form {
  max-width: 25rem;
}

.backgroundTestPink {
  background-color: deeppink;
}

.backgroundTestBlue {
  background-color: aqua;
}

.backgroundTestGreen {
  background-color: chartreuse;
}

.rolls-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rolls-list-item {
  padding: 0;
  margin: 0 0 0.3rem 0;
  border-radius: 0.5rem;
  background: #eaeaea;
  max-width: 25rem;
  padding: 1rem;
}

.rolls-list-item-timestamp {
  font-size: 0.5rem;
}

.join-form-control {
  border-radius: 0.25rem;
  margin: 0.7rem;
}

.join-form-button {
  border-radius: 0.25rem;
  display: inline-flex;
  margin-left: 0.7rem;
}
